// Standard transition time.
$transition: 0.25s;

$border_radius-block: 1em;
$border_radius-inline: 0.3em;

//pre: 6px
//launchpad-search: 1.5rem
//launchpad-searchbar: 1rem
//launchpad-search_submit: 1rem

//launchpad-card: 1.5rem
